<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Start - SQL Injection Oefening</title>
  </head>
  <body>
    <header>
      <h1>SQL Injection Oefening</h1>
    </header>
    <main>
      <p>
        Je doel is om in te loggen als de <br> admin <br> gebruiker zonder het wachtwoord te weten.
        <br>
        <strong>Waarschuwing:</strong>  Je mag niet zo maar sql injection gebruiken op een echte website.
        <br>
      </p>

      <section>
        <h2>Links:</h2>
        <ul>
          <li><a href="http://192.168.76.202:5000/login">Oefen hier</a></li>
          <li><a href="https://xkcd.com/327/">xkcd SQL Injection</a></li>
        </ul>
      </section>
    </main>
  </body>
</html>