<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Succes</title>
  </head>
  <body>
    <header>
      <h1>Succes</h1>
    </header>
    <main>
      <p>Je bent ingelogd.</p>
      <p>
        Als je wilt bijdragen aan het GitHub-repo, klik dan <a href="https://github.com/Rafaelorr/sql_injection_demo/">hier</a>.
      </p>
    </main>
  </body>
</html>