<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Create acount</title>
  </head>
  <body>
    <main>
      <form action="http://192.168.76.202:5000/create_acount" method="post">
        <div class="form-group">
          <label for="gebruikersnaam">Gebruikersnaam:</label> <br>
          <input type="text" name="gebruikersnaam" placeholder="gebruikersnaam" required>
        </div>

        <div class="form-group">
          <label for="wachtwoord">Wachtwoord:</label> <br>
          <input type="password" id="wachtwoord" name="wachtwoord" placeholder="wachtwoord" required>
        </div>

       <button type="submit">Create acount</button><br>
      </form>
    </main>
  </body>
</html>