<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
  </head>
  <body>
    <head>SQL injection oefening</head>
    <p>Je doel is om de users table te dropen met sql injection. <br>
    waarschuwing sql injection is verboden !<br>
    je mag het enkel doen met toestemming.<br>
    deze oefen website dient om te oefenen</p>
    <a href="http://192.168.76.202:5000/create_acount">oefen hier</a><br>
    <a href="https://xkcd.com/327/">hier heb je een voorbeeld van sql injection</a>
  </body>
</html>