<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
  </head>
  <body>
    <form action="" method="post">
        <input type="text" name="gebruikersnaam" placeholder="gebruikersnaam">
        <input type="password" name="wachtwoord" placeholder="wachtwoord">
        <button type="submit">Login</button>
    </form>
  </body>
</html>